
<div class ="heading">
<h1 align="center">GITHUB PROFILE SEARCH</h1>
</div>
<hr>
<div class="form">
<form action="" class="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your github username.."
    [(ngModel)]="username"  name="username" (keyup)="findProfile()">
  </div>
</form>
</div>
<br>
<br>
<div *ngIf="Profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{Profile.name}}  
      <small>{{Profile.login}}</small>
      <span *ngIf="Profile.company">,works at {{Profile.company}}</span>
      {{Profile.location}}

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{Profile.avatar_url}}" alt="Profile Image">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="item"  *ngIf="Profile.bio">{{Profile.bio}}</li>
            <li class="item"  *ngIf="Profile.hireable">Available for hire</li>
            <li class="item"  *ngIf="Profile.blog">
              <a href="{{Profile.blog}}" target="_blank">{{Profile.blog}}</a>
            </li>
            <li class="item"  *ngIf="Profile.email">
              <a href="Email to:{{Profile.email}}">{{Profile.email}}</a>
            </li>

          </ul>
        </div>
        <div class="col-sm-4">
          <div class="pull">
            <p>
              <span class="label label-default">{{Profile.followers}} <b>Followers</b></span>
              <span class="label label-primary"> <b>Following</b>  {{Profile.following}}</span>
              <span class="label label-success">{{Profile.public_gists}} <b>Public gists</b></span>
              <span class="label label-info">{{Profile.public_repos}} <b>Public Repos</b></span>
            </p>
            <p>
              <a href="{{Profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a>
            
            </p>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title" style="top: -11px;">Repos</h3>
              </div>
              <div class="panel-body" *ngFor="let repo of repos">
                <p class="clearfix">
                  {{repo.name}}
                  <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View 
                      this project on github</a>

                </p>
                <p>
                  {{repo.description}}
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
